.barContainer {
  position: fixed;
  z-index: 3;  
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--bgcolor);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bar {
  width: var(--navbar-width);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Fira Mono', 'Fira Sans', 'Helvetica Neue';
  color: #CAD0D5;
  font-size: 15px;
}

.home {
  align-self: flex-end;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.home img {
  height: 3.75em;
  width: calc(3.75em * (11 / 8));
  align-self: flex-end;
}

.bar div p {
  margin: 0px;
}

.bar .tagLine {
  margin-left: 5px;
  align-self: flex-end;
}

.bar .signOutText {
  transition: 0.3s;
}

.bar .signOutText:hover {
  cursor: pointer;
  color: var(--color-white-main);
} 

@media only screen and (max-width: 649px) {
  .barContainer {
    height: var(--navbar-height-mobile);
    min-width: 300px;
  }
  .bar {
    width: 20rem;
    min-width: 20rem;
  }   
  .home {
    align-self: center;
  }

  .home img {
    align-self: center;
    margin-bottom: 0em;
  }
}

@media only screen and (max-width: 900px) {
  .bar .tagLine  {
    display: none;
  } 
}

.logout {
  align-self: flex-end;
  margin-bottom: 0.4em;
  position: relative;
  width: 60px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.logout:hover {
  cursor: pointer;
}

.logout .topBar {
  position: relative;
  background-color: #DCDBE9;
  width: 80%;
  height: 5px;
  border: 0px;
  margin-bottom: 5px;
}

.logout .bottomBar {
  position: relative;
  background-color: #DCDBE9;
  width: 50%;
  height: 5px;
}

.menu {
  font-size: 0.65em;
  align-self: center;
  height: 3.75em;
  margin-left: 1.5em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  justify-content: center;
}
