.albumsPageContainer {
  position: absolute;
  background-color: var(--album-box-bg);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.3rem;
  min-height: 100%;
}

.regular {
  top: var(--navbar-height);
  width: 100%;
  margin-top: 1.3rem;
}

.regular::after {
  content: '';
  position: fixed;
  top: var(--navbar-height);
  height: 1.3rem;
  width: 100%;
  background-color: var(--album-box-bg);
  top: var(--navbar-height);
  width: 100%;
}

.shiftForSearch {
  top: 22.5rem;
}

.shiftForSearch::after {
  content: '';
  position: fixed;
  top: var(--navbar-height) + 22.5rem;
  height: 1.3rem;
  width: 100%;
  background-color: var(--album-box-bg);
  top: var(--navbar-height);
  width: 100%;
}

.buttonRow {
  height: var(--navbar-height);
  width: 20rem;
  z-index: 2;
  position: fixed;
  top: 0;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.buttonRow .addAlbum {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 4.5em;
  border: 0.060em solid var(--color-white-main);
  height: 3.25em;
  margin-top: 0.25em; /* 3.75 - 3.25 / 2*/

  background-color: var(--album-box-bg);
}

.buttonRow .addAlbum:hover {
  cursor: pointer;
}

.buttonRow .addAlbum .add {
  height: 35%;  
  bottom: 35%;
}

.buttonRow .addAlbum .record {
  display: none;
  height: 70%;  
}

.albumsContainer {
  position: relative;
  width: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.7em;
}

.albumsContainer::after {
  content: '';
  position: fixed;
  top: var(--navbar-height);
  height: 1.3rem;
  width: 100%;
  background-color: var(--album-box-bg);
  top: var(--navbar-height);
  width: 100%;
}
  

@media only screen and (max-width: 1199px) { 
}

@media only screen and (min-width: 1200px) { 
  .albumsContainer {
    width: 900px;
  } 

  .record {
    display: "";
  }
}

.albumsContainer .album {
  width: 20rem;
  height: calc(75px + 0.2em);
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: flex-start;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.album::-webkit-scrollbar {
  display: none;

}

.albumsContainer img {
  height: 100%;
}

.albumsContainer .imageNotFound {
  width: 75px;
  min-width: 75px;
  min-height: 75px;
  height: 75px;
  border: 0.1em solid white;
}

.albumsContainer .description {
  height: 100%;
  margin-left: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.albumsContainer .albumName {
  display: flex;
  font-size: 0.92em;
  font-family: 'Fira Mono';
  color: var(--color-white-main-brighter);
  flex-direction: column;
  justify-content: flex-start;
}

.albumsContainer .artistName {
  display: flex;
  font-size: 0.7em;
  font-family: 'Fira Mono';
  color: #dddddd;
  flex-direction: column;
  justify-content: flex-start;
}
