.container {
  position: absolute;
  top: var(--navbar-height);
  height: calc(100% - var(--navbar-height) - var(--footer-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container input {
  flex: 1 1 0;
  width: 600px;
  background-color: var(--album-box-bg);
  color: var(--color-white-main);
  font-family: 'Fira Mono';
}

.buttonRow {
  position: relative;
  flex: 1 1 0;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



.buttonRow .dropdownControl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--album-box-bg);
  font-family: 'Fira Mono';
  font-size: 0.85em;
  border-radius: 0.9em;
  color:  #dcdbe9;
  height: 5em;
  border: 0px;
}

.buttonRow .arrowStyle {
  color:  #dcdbe9;
  display: box;
  margin-top: 0.8em;
}

.buttonRow .Dropdown-option {
  background-color: var(--album-box-bg);
  color:  #dcdbe9;
  border: 5px;
}

.buttonRow .addAlbum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 130px;
  height: 50%;

  border: 2px solid var(--color-white-brighter);
  background-color: var(--album-box-bg);
}

.buttonRow .addAlbum:hover {
  cursor: pointer;
}

.buttonRow .addAlbum .add {
  height: 35%;  
  margin-right: 10px;
}

.buttonRow .addAlbum .record {
  height: 60%;  
}

.albumsContainer {
  flex: 7 1 0;
  position: relative;
  background-color: var(--album-box-bg);
  width: 900px;
  overflow-y: scroll;
  display: flex;
}

@media only screen and (max-width: 1199px) { 
  .albumsContainer {
    width: 80%;
  } 
}

@media only screen and (min-width: 1200px) { 
  .albumsContainer {
    width: 900px;
  } 
}

.albumsContainer .album {
  width: 33%;
  height: 20%;

  display: flex;
  flex-direction: row;
}

.albumsContainer img {
  height: 100%;
}

.albumsContainer .description {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
