.container {
  position: absolute;
  top: var(--navbar-height);
  height: calc(100% - var(--navbar-height));
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  display: flex;
  height: 80%;
  flex-direction: row;
  align-items: flex-start;
}

.leftArea {
  color: #dddddd;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.leftArea .header {
  flex: 1 1 0; 
}

.previewArea {
  border-bottom: 1px solid white;
  height: 94%;
}

@media only screen and (max-width: 899px) { 
  .content {
    width: 80%;
  } 

  .leftArea {
    width: 100%;
  }

  .previewArea {
    display: none;
  }
}

@media only screen and (min-width: 900px) { 
  .leftArea {
    width: 35%;
  }

  .previewArea {
    width: 65%;
    display: "";
  }
}

@media only screen and (min-width: 900px) and (max-width: 1500px ) { 
  .content {
    width: 90%;
  }
}

@media only screen and (min-width: 1501px) { 
  .content {
    width: 1200px;
  } 
}

.leftArea .title {
  font-size: 27px; 
  font-family: 'Fira Mono Bold';
  color: --var(color-white-main);
  margin-top: 0em;
  margin-bottom: 0.4em;
}

.leftArea .description {
  font-size: 22px; 
  word-spacing: 0.1em;
  font-family: 'Fira Mono';
  margin-top: 0.4em;
  margin-bottom: 0em;
}

.leftArea .buttonsContainer {
  width: 100%;
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #dddddd;
  color: var(--bgcolor);
  border-radius: 0.2em;
  height: 1.90em;
  width: 100%;

  font-family: 'Fira Mono Bold';
  font-size: 22px;
}

.button:nth-child(1) {
  margin-bottom: 1.2em;
}

.button:hover {
  cursor: pointer;
}

.userContainer {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.title {
  font-family: 'Fira Mono Bold';
  color: var(--color-white-main);
  font-size: 23px;
}

.accountDescription {
  font-family: 'Fira Mono';
  font-size: 12px;
}

.formInput {
  width: 24em;
  line-height: 3em;
  flex: 0;
  background-color: var(--album-box-bg);
  border-radius: 0.2em;
  border: 0px solid var(--color-white-main);
  padding: 1em;
  font-size: 12px;
}

.loginButton:focus {
  outline-color: var(--color-white-main);
  outline-width: 0.7em;
}

.submitButton {
  width: 22.3em;
  line-height: 0.3em;
  flex: 0;
  background-color: #fdfdfd;
  border-radius: 0.2em;
  border: 0px solid var(--album-box-bg);
  font-family: 'Fira Mono';
  padding: 1em;
  font-size: 14px;
  cursor: pointer;
}

.reverse {
  font-family: 'Fira Mono';
  font-size: 13px;
}
.signUpLinkContainer {
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverseText {
  text-decoration: none;
  font-size: 13px;
  margin-left: 1em;
  font-family: 'Fira Mono Bold';
  color: #dddddd;
  cursor: pointer;
}

.reverseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
