.barArea {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--footer-height);
  bottom: 0px;
}

.topBar {
  width: calc(92% - 2px);
  height: 8%;
  border: 1px solid #c9c7d5
}

.bottomBar {
  width: 92%;
  height: 8%;
  background-color: #c9c7d5;
}
