@font-face {
  font-family: 'Fira Mono Bold';
  src: local('Fira Mono Bold'),url(./fonts/Fira_Mono/FiraMono-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Fira Mono';
  src: local('Fira Mono'),url(./fonts/Fira_Mono/FiraMono-Regular.ttf) format('truetype');
}

:root {
  --bgcolor: #18181c;
  --album-box-bg: #141417;
  --color-white-main: #fefefe;
  --font-gray: #acacac;
  --color-white-brighter: #dcdbe9;
  --navbar-height: 7rem;
  --navbar-height-mobile: 7rem;
  --navbar-width: 85%; 
  --footer-height: 4em;
}


html, body, .vsc-initialized  {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bgcolor);
  font-family: 'Fira Mono Bold', 'Fira Mono', 'Fira Sans', 'Helvetica Neue';
  color: var(--color-white-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  border: 1px solid red;
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 649px) { 
  html, body, .vsc-initialized  {
    width: 100vw;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  html::-webkit-scrollbar, body::-webkit-scrollbar, .vsc-initialized::-webkit-scrollbar {
    display: none;

  }

}
