@font-face {
  font-family: 'Fira Mono Bold';
  src: local('Fira Mono Bold'),url(./fonts/Fira_Mono/FiraMono-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Fira Mono';
  src: local('Fira Mono'),url(./fonts/Fira_Mono/FiraMono-Regular.ttf) format('truetype');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Fira Mono Bold', 'Fira Mono', 'Fira Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
