.container input {
  flex: 1 1 0;
  width: 600px;
  background-color: var(--album-box-bg);
  color: var(--color-white-main);
  font-family: 'Fira Mono';
}

.results {
  color: var(--color-white-main);
  font-family: 'Fira Mono';
}

ul {
  list-style: none;
  padding: 0;
}

ul li:hover {
  cursor: pointer;
  background-color: var(--color-white-main);
  color: var(--album-box-bg);
}
