@-webkit-keyframes rotateRecord {
  from {
    transform: rotate(0deg);  
  } to {
    transform: rotate(360deg);
  } 
}

@keyframes rotateRecord {
  from {
    transform: rotate(0deg);  
  } to {
    transform: rotate(360deg);
  } 
}

.recordLoadIcon {
  width: 6em;
  opacity: 0.45;
  -webkit-animation: rotateRecord 3.2s linear infinite;
  animation: rotateRecord 3.2s linear infinite;
}
